In [13]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import datasets + check values
import the 6 datasets and check shape, null values and data types

In [14]:
#import published content csv
content_path = './assets/datasets/content_published_scrubbed.csv'
pub_content = pd.read_csv(content_path)

In [15]:
pub_content.shape

(30325, 5)

In [16]:
pub_content.dtypes

action                      object
content_type_name           object
parent_content_type_name    object
project_id                   int64
user_id                      int64
dtype: object

In [17]:
#import watch csv
watch_path = './assets/datasets/watch_scrubbed.csv'
watches = pd.read_csv(watch_path)

In [18]:
watches.shape

(6004, 5)

In [19]:
watches.isnull().sum()

watch                        0
content_type_name            0
parent_content_type_name     0
project_id                  12
user_id                      0
dtype: int64

In [20]:
watches.dropna(axis=0, inplace=True)
watches.shape

(5992, 5)

In [21]:
watches.dtypes

watch                        object
content_type_name            object
parent_content_type_name     object
project_id                  float64
user_id                       int64
dtype: object

In [22]:
watches['project_id'] = watches.project_id.astype('int64')
watches.dtypes

watch                       object
content_type_name           object
parent_content_type_name    object
project_id                   int64
user_id                      int64
dtype: object

In [23]:
#import entry vote csv
vote_path = './assets/datasets/entry_vote_scrubbed.csv'
entry_votes = pd.read_csv(vote_path)

In [24]:
entry_votes.shape

(37893, 5)

In [25]:
entry_votes.isnull().sum()

vote                        0
content_type_name           0
project_id                  0
parent_content_type_name    0
user_id                     0
dtype: int64

In [26]:
entry_votes.dtypes

vote                        object
content_type_name           object
project_id                   int64
parent_content_type_name    object
user_id                      int64
dtype: object

In [27]:
#import project csv
project_path = './assets/datasets/projects_scrubbed.csv'
projects = pd.read_csv(project_path)

In [28]:
projects.shape

(41, 10)

In [29]:
projects.isnull().sum()

content_type_name           0
parent_content_type_name    0
post_count                  0
topic_count                 0
view_count                  0
watch_count                 0
participants                0
title                       0
project_id                  0
categories                  0
dtype: int64

In [30]:
projects.dtypes

content_type_name           object
parent_content_type_name    object
post_count                   int64
topic_count                  int64
view_count                   int64
watch_count                  int64
participants                 int64
title                       object
project_id                   int64
categories                  object
dtype: object

In [31]:
#import users csv
users_path = './assets/datasets/users_scrubbed.csv'
users = pd.read_csv(users_path)

In [32]:
users.shape

(194152, 2)

In [33]:
users.isnull().sum()

username    0
user_id     0
dtype: int64

In [34]:
users.dtypes

username    object
user_id      int64
dtype: object

## Test merge on a sample
Prior to mergin all 7 datasets I wanted to do a test merge on a sample of two to make sure that everything is looking and coming together like I wanted

In [35]:
proj_sample = projects.sample(n=10, axis=0)
proj_sample

,content_type_name,parent_content_type_name,post_count,topic_count,view_count,watch_count,participants,title,project_id,categories
14,project,project,179,5,1786,413,431,House the World,268,Architecture and Construction
4,project,project,116,8,1809,357,368,Axion,250,Infrastructure and Energy
25,project,project,132,2,1214,51,53,Measuring Reflective Objects,209,Industrial Inspection and Monitoring
30,project,project,142,12,5245,1860,1893,Robots 4 Humanity,284,Health and Wellness
11,project,project,134,21,2462,9743,9836,Farming Mars,276,Mars
26,project,project,2665,1,125156,4485,4599,Modular Logistics Vehicle,293,Ground Mobility
31,project,project,63,6,2520,12525,12670,Robots of Mars,275,Mars
21,project,project,6,2,711,61,63,LMDRONES: Racing Quadcopters,138,Consumer Products
35,project,project,82,18,3964,12602,12746,Technicolor VR Experience,278,Mars
29,project,project,198,5,4417,240,253,Position Sensor for Inspection Probes,267,Industrial Inspection and Monitoring

In [36]:
watch_sample = watches.sample(n=10, axis=0)
watch_sample

     watch content_type_name parent_content_type_name  project_id  user_id
1071   yes           project                  project         272   113662
1036   yes           project                  project         279   113324
2918   yes           project                  project         279   158708
4406   yes           project                  project         268   181410
5179   yes           project                  project         310   183586
3352   yes           project                  project         309    79938
4748   yes           project                  project         211   189645
2932   yes           project                  project         278   159143
4871   yes           project                  project         279   191456
219    yes           project                  project         210    88343

In [37]:
watch_sample['project_id'] = watch_sample.project_id.astype('int64', inplace=True)

In [38]:
merged = proj_sample.merge(watch_sample, how='outer', on='project_id')

In [39]:
merged.head()

,content_type_name_x,parent_content_type_name_x,post_count,topic_count,view_count,watch_count,participants,title,project_id,categories,watch,content_type_name_y,parent_content_type_name_y,user_id
0,project,project,179.0,5.0,1786.0,413.0,431.0,House the World,268,Architecture and Construction,yes,project,project,181410.0
1,project,project,116.0,8.0,1809.0,357.0,368.0,Axion,250,Infrastructure and Energy,NaN,NaN,NaN,NaN
2,project,project,132.0,2.0,1214.0,51.0,53.0,Measuring Reflective Objects,209,Industrial Inspection and Monitoring,NaN,NaN,NaN,NaN
3,project,project,142.0,12.0,5245.0,1860.0,1893.0,Robots 4 Humanity,284,Health and Wellness,NaN,NaN,NaN,NaN
4,project,project,134.0,21.0,2462.0,9743.0,9836.0,Farming Mars,276,Mars,NaN,NaN,NaN,NaN

Many of the NaNs, particularly the ones in the user_id column will go away once the entire user set is in. the 'action' column on the other hand will need some clean up

## Merge datasets together
Having tried to merge all 5 datasets together and running into problems with how large the dataset becomes I decided to only concat projects, watches and pub_content together and then take a sample of the dataframe since it will have over a million rows.

In [57]:
project_content = projects.merge(pub_content, how='inner', on='project_id')

In [58]:
project_content.isnull().sum()

content_type_name_x           0
parent_content_type_name_x    0
post_count                    0
topic_count                   0
view_count                    0
watch_count                   0
participants                  0
title                         0
project_id                    0
categories                    0
action                        0
content_type_name_y           0
parent_content_type_name_y    0
user_id                       0
dtype: int64

In [59]:
project_content.shape

(34438, 14)

In [60]:
content = project_content.merge(watches, how='inner', on='project_id')

In [61]:
content.shape

(16715686, 18)

In [62]:
content.isnull().sum()

content_type_name_x           0
parent_content_type_name_x    0
post_count                    0
topic_count                   0
view_count                    0
watch_count                   0
participants                  0
title                         0
project_id                    0
categories                    0
action                        0
content_type_name_y           0
parent_content_type_name_y    0
user_id_x                     0
watch                         0
content_type_name             0
parent_content_type_name      0
user_id_y                     0
dtype: int64

## Take a sample

In [70]:
content_sample = content.sample(frac=0.01)

In [71]:
content_sample.shape

(167157, 18)

In [74]:
content_sample.head()

,content_type_name_x,parent_content_type_name_x,post_count,topic_count,view_count,watch_count,participants,title,project_id,categories,action,content_type_name_y,parent_content_type_name_y,user_id_x,watch,content_type_name,parent_content_type_name,user_id_y
16445910,project,project,2144,2,2798,4138,4247,Unmanned Cargo System,311,Air Mobility,content_published,post,entry,68711,yes,project,project,207319
12802326,project,project,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,210162,yes,project,project,109868
4944928,project,project,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,68711,yes,project,project,165783
3187643,project,project,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,entry,challenge,113729,yes,project,project,164571
9254027,project,project,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,136792,yes,project,project,110146

## Column clean up
Review the columns, drop the uneeded duplicates and rename columns as neeeded

In [84]:
content_sample.loc[:,'content_type_name_x'].nunique()

1

In [85]:
content_sample.loc[:,'parent_content_type_name_x'].nunique()

1

In [86]:
content_sample.loc[:,'categories'].nunique()

10

In [87]:
content_sample.loc[:,'parent_content_type_name_y'].nunique()

5

In [88]:
content_sample.loc[:,'parent_content_type_name_y'].unique()

array(['entry', 'challenge', 'topic', 'idea', 'brainstorm'], dtype=object)

In [89]:
content_sample.loc[:,'parent_content_type_name'].nunique()

1

In [90]:
content_sample.loc[:,'content_type_name'].nunique()

1

In [91]:
content_sample.loc[:,'user_id_x'].nunique()

2917

In [92]:
content_sample.loc[:,'user_id_y'].nunique()

3449

In [95]:
content_sample.drop(['content_type_name_x', 'parent_content_type_name_x', 'parent_content_type_name', 'content_type_name', 'user_id_x'], axis=1, inplace=True)

In [96]:
content_sample.head()

,post_count,topic_count,view_count,watch_count,participants,title,project_id,categories,action,content_type_name_y,parent_content_type_name_y,watch,user_id_y
16445910,2144,2,2798,4138,4247,Unmanned Cargo System,311,Air Mobility,content_published,post,entry,yes,207319
12802326,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,109868
4944928,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,165783
3187643,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,entry,challenge,yes,164571
9254027,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,110146

In [98]:
content_sample.rename(columns={'content_type_name_y':'content_type_name', 'parent_content_type_name_y':'parent_content_type_name', 'user_id_y':'user_id'}, inplace=True)

In [99]:
content_sample.head()

,post_count,topic_count,view_count,watch_count,participants,title,project_id,categories,action,content_type_name,parent_content_type_name,watch,user_id
16445910,2144,2,2798,4138,4247,Unmanned Cargo System,311,Air Mobility,content_published,post,entry,yes,207319
12802326,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,109868
4944928,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,165783
3187643,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,entry,challenge,yes,164571
9254027,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,110146

In [112]:
content_sample.rename(columns = {'post_count':'total_post_count', 'topic_count':'total_topic_count', 'view_count':'total_view_count','watch_count':'total_watch_count', 'participants':'total_participants'}, inplace=True)

In [113]:
content_sample.head()

,total_post_count,total_topic_count,total_view_count,total_watch_count,total_participants,title,project_id,categories,action,content_type_name,parent_content_type_name,watch,user_id
16445910,2144,2,2798,4138,4247,Unmanned Cargo System,311,Air Mobility,content_published,post,entry,yes,207319
12802326,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,109868
4944928,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,165783
3187643,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,entry,challenge,yes,164571
9254027,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,110146

In [114]:
project_content = content_sample

In [115]:
project_content.head()

,total_post_count,total_topic_count,total_view_count,total_watch_count,total_participants,title,project_id,categories,action,content_type_name,parent_content_type_name,watch,user_id
16445910,2144,2,2798,4138,4247,Unmanned Cargo System,311,Air Mobility,content_published,post,entry,yes,207319
12802326,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,109868
4944928,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,165783
3187643,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,entry,challenge,yes,164571
9254027,7285,53,16973,17116,17379,The Urbanization of Mars,279,Mars,content_published,post,entry,yes,110146

## Exploratory Data Analysis

#### Data shape

In [116]:
project_content.shape

(167157, 13)

#### Data types
All data types look correct

In [117]:
project_content.dtypes

total_post_count             int64
total_topic_count            int64
total_view_count             int64
total_watch_count            int64
total_participants           int64
title                       object
project_id                   int64
categories                  object
action                      object
content_type_name           object
parent_content_type_name    object
watch                       object
user_id                      int64
dtype: object

#### Count of null values
All null values were gotten rid of prior to pulling into the notebook and merging the datasets, however you can see above some of the other clean up that happened.

In [118]:
project_content.isnull().sum()

total_post_count            0
total_topic_count           0
total_view_count            0
total_watch_count           0
total_participants          0
title                       0
project_id                  0
categories                  0
action                      0
content_type_name           0
parent_content_type_name    0
watch                       0
user_id                     0
dtype: int64

#### Basic Summary Statistics
Because of the kind of data this is, ie project totals and ids these numbers really don't mean anything

In [121]:
project_content.describe()

,total_post_count,total_topic_count,total_view_count,total_watch_count,total_participants,project_id,user_id
count,167157.000000,167157.000000,167157.000000,167157.000000,167157.000000,167157.000000,167157.000000
mean,5820.848448,40.582315,21913.717966,13516.928786,13733.402580,282.601841,145544.790879
std,2527.619226,21.108870,28119.018200,6116.897063,6195.884484,13.990101,38676.009915
min,1.000000,1.000000,496.000000,21.000000,21.000000,136.000000,1.000000
25%,2665.000000,19.000000,16973.000000,4485.000000,4599.000000,279.000000,116136.000000
50%,7285.000000,53.000000,16973.000000,17116.000000,17379.000000,279.000000,149125.000000
75%,7285.000000,53.000000,16973.000000,17116.000000,17379.000000,279.000000,173626.000000
max,10980.000000,53.000000,125156.000000,17116.000000,17379.000000,322.000000,211638.000000

#### Number of unique values for each column

In [122]:
project_content.nunique()

total_post_count              32
total_topic_count             17
total_view_count              32
total_watch_count             31
total_participants            32
title                         32
project_id                    32
categories                    10
action                         2
content_type_name              3
parent_content_type_name       5
watch                          1
user_id                     3449
dtype: int64

#### Plot the distribution of each column
Same as with the summary statistics, looking at the distribution doesn't tell me much because of the kind of data in the dataframe

In [ ]:
ax = project_content.plot(kind='box', figsize=(12,12))

#### Scatterplot of each column with category
Since I am trying to predict whether the category a project is in determines amount of engagement this is an import feature to compare against the other features

In [ ]:
columns = ['total_post_count', 'total_topic_count', 'total_view_count', 'total_watch_count', 'total_participants', 'action', 'content_type_name', 'parent_content_type_name']

for x in columns:
    ax = project_content.plot(kind='scatter', x=x, y='categories')

#### Create a scatterplot matrix